osmnx==2.0.7
matplotlib==3.10.8
geopandas==1.1.2
geopy==2.4.1
numpy==2.4.0
scipy==1.16.3
shapely==2.1.2
pillow==12.1.0
pyproj==3.7.2
pyogrio==0.12.1
networkx==3.6.1
pandas==2.3.3
requests==2.32.5
tqdm==4.67.1
lat_lon_parser==1.3.1
boto3==1.38.26
pyrosm==0.6.2
